@import "tailwindcss";

.animate-bounce-slow {
  animation: bounce 3s ease-out;
}
:nth-child(2) {
  animation-delay: 1s;
}
:nth-child(3) {
  animation-delay: 2s;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(-30%);
  }
  90% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-apropos{
  animation: animeapro 2s ease-out ;
}

@keyframes animeapro {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animephotoapro
{
  animation: animephoto 2s ease-out ;
}
@keyframes animephoto {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.rotation {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headeranimation {
  animation: headeranime 1.5s ease-out ;
}
@keyframes headeranime {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* 
@media (max-width: 320px) and (min-width: 812px) {
  footer{
    margin-top: 800px;
  }
} */
